<div class="container">
  <h1 class="align-center">Pokemon V Starwars</h1>

  <div class="fight">
    <div class="star-wars">
      <%= image_tag @star_war.image %>
      <h2><%= @star_war.name %></h2>
      <h4>Wins: <%= @star_war.wins %></h4>

      <%= button_to @star_war.name, update_starwar_path(@star_war), method: :patch%>
    </div>

    <div class="pokemon">
      <%= image_tag @pokemon.image %>
      <h2><%= @pokemon.name %></h2>
      <h4>Wins: <%= @pokemon.wins %></h4>

      <%= button_to @pokemon.name, update_pokemon_path(@pokemon), method: :patch%>
    </div>
  </div>
</div>
 